<section>
    <h2>Entre como participante</h2>
    <form action="/enterroom" method="POST">
        <label class="sr-only" for="room-id">código da sala</label>
        <!-- sr-only deixa o label invisível para o navegador-->
        <input
            name="roomId"
            type="number"
            id="room-id"
            placeholder="Código da sala"
        /><!-- room id conecta o input ao label -->
        <button>
            <img src="img/enter-room.svg" alt="Entrar na sala" />
            Entrar na sala
        </button>
    </form>
</section>

<div class="divider">
    <div></div>
    <div>ou</div>
    <div></div>
</div>

<section>
    <h2>Crie sua própria sala de forma fácil</h2>
    <a href="/create-pass" class="button outlined">
        <img src="img/users.svg" alt="Criar sala" />
        Criar sala
    </a>
</section>
